body {
	padding-right: 1em;
	background-color: #64FF36;
	font-size: 18px;
}

.header {
	background-color: #DDD;
	padding: 0.2em;
	position: relative;
}

.header-item {
	display: inline-block;
	margin: 0.1em;
	vertical-align: middle;
}

.header-photo {
	width: 30%;
}

.header-title {
	width: 45%;	
}

.header-title-item {
	display: inline-block;
}

.header-name {
	font-size: 1.7em;
	font-weight: bold;
}

.header-about {
	font-size: 1.2em;
}

.header-menu {
	vertical-align: middle;
	width: 15%;
}

.header-menu-item {
	display: inline-block;
}

.about {
	background-color: #FFF;
}

.projects {
	background-color: #FFF;
}
