body {
	padding-right: 1em;
	background-color: #00b16a;
	font-size: 18px;
}

.header {
	background-color: #DDD;
	line-height: 0;
	padding: 0.3em;
	position: relative;
	text-align: justify;
}

.header::after {
	color: transparent;
	content: ".";
	display: inline-block;
	width: 100%;
	height: 0;
}

.header-item {
	display: inline-block;
	line-height: normal;
	margin: 0.1em;
	text-align: center;
	vertical-align: middle;
}

.header-photo {
	width: 30%;
}

.header-title {
	min-width: 150px;
	max-width: 45%;
	text-align: left;
}

.header-title-item {
	display: inline-block;
}

.header-name {
	font-size: 1.5em;
	font-weight: bold;
}

.header-about {
	font-size: 1.1em;
}

.header-menu {
	width: 15%;
}

.header-menu-item {
	display: inline-block;
}

.about {
	background-color: #FFF;
}

.projects {
	background-color: #FFF;
}
